* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: grey;
}
h4 {
    margin-right: 40px;
    margin-top: 30px;
}
#shift {
    margin-left: 36px;
}
.shift {
    margin-left: 20px;
}
.right {
    margin-right: 15px;
    margin-top: 15px;
}
.bachelor {
    margin-top: 3px;
    margin-right: 27px;
}
.bsu {
    margin-top: 3px;
    margin-right: 54px;
}
.email {
    margin-top: 3px;
    margin-left: 26px;
}
.location {
    margin-left: 18px;
}
h2 {
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.align {
    margin-right: 34px;
    margin: 12px;

}
#photo {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    border-radius: 50%;
}
.main {
    display: flex;
    height: 719px;
    width: 589px;
    border: 1px solid black;
    margin-left: 400px;
}
.sidebar {
    border: 1px solid black;
    width: 30%;
    background-color: #000033;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.line {
    margin-right: 40px;
    margin-top: 10px;
    width: 40px;
    border: 1px solid white;
}
.level {
    display: flex;
    align-items: baseline;
}
.circle {
    border: 1px solid white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
    margin-left: 5px;
}
.container {
    display: flex;
    margin-left: 5px;
}
.box {
    display: flex;
    margin-right: 25px;
}
.content {
    width: 70%;
    border: 1px solid black;
    margin-left: 0px;
    background-color: whitesmoke;
}
h1 {
    margin-left: 50px;
    margin-top: 15px;
    
}
#prof {
    margin-left: 50px;
    font-size: 20px;
}
.shift2 {
    margin-left: 49px;
    margin-top: 5px;
}
.ex {
    margin-top: 30px;
}
.pr {
    margin-top: 15px;
}
.sk {
    margin-top: 200px;
}
.line2 {
    margin-right: 40px;
    margin-top: 10px;
    width: 40px;
    border: 1px solid black; 
}